.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__img {
        display: flex;
        flex-direction: column;
        width: 370px;
        height: 235px;
        border-radius: 0.7rem;
        box-shadow: 0px 0px 10px ;
        margin-top: 1rem;
    }

    &__type {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: rgba(34, 34, 34, 0.6);
        margin-bottom: -0.5rem;
    }

    &__cardStack {
        margin-top: 10rem;
    }

    &__button {
        background-color: white;
        color: black;
        border: 1px solid black;
        padding: 1rem;
        height: 4rem;
        margin-top: 9rem;
        border-radius: 8px;
        width: 100%;
        cursor: pointer;
    }
}