.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &__img {
        display: flex;
        flex-direction: column;
        width: 370px;
        height: 235px;
        border-radius: 0.7rem;
        box-shadow: 0px 0px 10px ;
        margin-top: 1rem;
    }

    &__cardStack {
        margin-top: 10rem;
    }

    &__button {
        background-color: white;
        color: black;
        border: 1px solid black;
        width: 100%;
        padding: 1rem;
        height: 4rem;
        margin-top: 9rem;
        border-radius: 8px;
        width: 300px;
    }
}